/* auto scaling page vertical padding */
.padder {
  padding-left: clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem);
  padding-right: clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem);;
}

/* click scroll, auto for search Crlt+f */
/* requires tab index -1 on element being scrolled to */
html:focus-within {
    scroll-behavior: smooth;
   }
@media(prefers-reduced-motion){
    html:focus-within{
    scroll-behavior: auto;
    }
}
[id] {
    scroll-margin-top: 2rem;
}

/* hover list dims all but the item with hover */
.parent:hover >* {
  opacity: 0.6;
}
.parent:hover >*:hover {
  opacity: 1;
}
.parent:hover>*:hover>*{
  opacity: 1;
}


@media(prefers-color-scheme:dark){
  img {
    filter: contrast(1.2) brightness(0.8);
  }
}
